*{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;

}
body{
    height: 100%;
}
.main{
    position: absolute;
    left: 35%;
    top: 25%;
    width: 400px;
    height: 300px;
    padding-top: 20px;
    border: solid;
   
    
}
.main h3{
    
    text-align: center
    
}
.main p{
    text-align: center;
}
.main fas{
    font-size: 60px;
    color: black;
}
.first{
    width: 250px;
    margin-left: 80px;
    
}