*{
    font-family: 'Solway', serif;
}
.text1{
    font-family: 'Lilita One', cursive;
    text-align:center;
}
/* *{
    font-family: 'Solway', serif;
} */
.cards:first-child{
    margin:10%;
}

.card-content{
    width:100%;
}
.jumbtron-wrap{
    margin-top:9%;
}